/*
 * FARBSCHEMA (erstellt mit http://paletton.com/#uid=1030u0kayw02NSs6iHRfvr3lblp)
 * Sehr hell: #FFEAE9 (Hintergrund)
 * hell: #FFD1CD (Navigations-Buttons, Hintergrundgrafik b)
 * mittel: #FFB1AB (Hintergrundgrafik a)
 * dunkel: #D8776F (Links, mit Hover)
 * Sehr dunkel: #AA423A (Links, ohne Hover)
 */

/* Elemente */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #AA423A;
}

a:hover{
    color: #D8776F;
}

body {
    background-image: url(../images/background.png);
    background-position: top;
    background-repeat: repeat-x;
    background-color:#FFEAE9;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#262626;
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color:#3e3e3e;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

header > h2 {
    text-align: center;
}

header > img {
    display:block;
    margin: 0 auto;
    max-width: 100%;
    margin-top:2%;
}

nav {
    margin: 3% 0 3% 0;
    margin: 3% 0 3% 0;
    text-align: center;
}

nav > ul > li {
    display:inline-block;
    width:10%;
}

nav > ul > li > a {
    display:block;
    background-color: #FFD1CD;
    text-align:center;
    padding: 10% 0 10% 0;
}

nav > ul > li > a:hover {
    background-color: transparent;
}

/* Klassen */
.breakable {
    word-break: break-all;
}

/* IDs */