/*
 * FARBSCHEMA (erstellt mit http://paletton.com/#uid=1030u0kayw02NSs6iHRfvr3lblp, abgeändert)
 * Sehr hell: #FFFFFF (Hintergrund)
 * hell: #FFEAE9 (Navigations-Buttons)
 * dunkel: #D8776F (Links, mit Hover)
 * Sehr dunkel: #AA423A (Links, ohne Hover)
 * Dunkelgrau: #262626 (Schrift default)
 * Hellgrau: #3e3e3e (Überschriften)
 */

/*
 * DESKTOP FIRST
 */

@media all {
    /* Elemente */
* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    background-image: url(../images/background.png);
    background-position: top;
    background-repeat: repeat-x;
    color: #262626;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 70%;     /* Da dies das oberste Element ist, an das sich die Größen der anderen Elemente anpassen, wird hier % statt rem benötigt. */
}

html {
    font-size: 1em;
    padding:0;
}

a {
    color: #AA423A;
    text-decoration: none;
}

a:hover{
    color: #D8776F;
}

footer {
    font-size: 70%;
    background-color: #ffcccc;
    padding-left: 10px;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #3e3e3e;
    font-weight: 700;
}

header > h2 {
    text-align: center;
}

header > img {
    display: block;
    margin: 2rem auto;
    max-width: 100rem;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 3.2rem 0;
    padding:0;
}

nav > ul > li > a {
    background-color: #FFEAE9;
    display:block;
    margin: 0 0.1rem;
    padding: 1.2rem;
    text-align: center;
    width: 8rem;
}

nav > ul > li > a:hover {
    background-color: transparent;
}

section > ol > li {
    margin:0.5rem 0;
}

/* Klassen */
.breakable {
    word-break: break-all;
}

.download {
    margin-left:0.5rem;
    vertical-align: middle;
    width:100%;
}

.img-right {
    float:right;
    margin:0 0 2rem 1rem;
    max-width: 20rem;
}

.veggie {
    width: 30px;
    margin: 0 0 0 0.5rem  
}

.fleisch {
    width: 40px;
    margin: 0 0 0 0.5rem;
}

/* IDs */
#Alvin h2, #Linda h2, footer {
    clear:both;
}

#originales_Rezept > h2, #alternatives_Rezept > h2 {
    display:inline-block;
}
}


/* ######
 * MOBILE
 * ######
 */

@media screen and (max-width: 480px)  {
/*
 * TODO: 
 * Menü: aufklappbar
 * Bilder: Width: 100%, clear:both;
*/
    
/* Elemente */
    body {
        background:none;
         left:0;
        margin:0 auto;
        max-width:99%;
        position: relative;
        top:0;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    section > h3 {
        font-size: 1.1rem;
    }
    
    h2, h3 {
        text-align: center;
    }
    
    nav {
        /*position at bottom*/
    }
    
    nav > ul {
        flex-direction: column;
    }
    
    nav > ul > li > a {
        margin:0;
        width:100%;
    }
    
    section {
        padding:0.5rem;
    }
    
    section h2 {
        text-align: center;
    }
    
    
/* Klassen */
    .download, .img-right, header > img {
        display:none;
    }

/* IDs */
    #originales_Rezept > h2, #alternatives_Rezept > h2 {
        display: block;
    }
}