/*
 * FARBSCHEMA (erstellt mit http://paletton.com/#uid=1030u0kayw02NSs6iHRfvr3lblp, abgeändert)
 * Sehr hell: #FFFFFF (Hintergrund)
 * hell: #FFEAE9 (Navigations-Buttons)
 * dunkel: #D8776F (Links, mit Hover)
 * Sehr dunkel: #AA423A (Links, ohne Hover)
 * Dunkelgrau: #262626 (Schrift default)
 * Hellgrau: #3e3e3e (Überschriften)
 */


/* #############
 * DESKTOP FIRST
 * #############
 */

@media all {
    
    /* Elemente */
    
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #fff;
        background-image: url(../images/background.png);
        background-position: top;
        background-repeat: repeat-x;
        color: #262626;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0 auto;
        max-width: 70%;     /* Da dies das oberste Element ist, an das sich die Größen der anderen Elemente anpassen, wird hier % statt rem benötigt. */
    }

    html {
        font-size: 1em;
        padding:0;
    }

    a {
        color: #AA423A;
        text-decoration: none;
    }

    a:hover{
        color: #D8776F;
    }

    footer {
        background-color: #FFEAE9;
        font-size: 0.75rem;
        padding: 0.5rem;
        padding-left: 0.75rem;
    }   
    
    footer h3 {
        font-weight: 300;
    }

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #3e3e3e;
        font-weight: 700;
    }

    header > h2 {
        text-align: center;
    }

    header > img {
        display: block;
        margin: 2rem auto;
        max-width: 100rem;
    }

    nav > ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 3.2rem 0;
        padding:0;
    }

    nav > ul > li > a {
        background-color: #FFEAE9;
        display:block;
        margin: 0 0.1rem;
        padding: 1.2rem;
        text-align: center;
        width: 8rem;
    }

    nav > ul > li > a:hover, input[type="submit"]:hover{
        background-color: transparent;
    }
    
    summary {
        cursor: pointer;
        font-weight: 700;
        display: block;
        padding: 1rem 0;
    }
    
    /*Feedback elemente*/

    fieldset {
        background-color:#FFEAE9;
        border:0;
    }
    
    input {
        font-size: inherit;
        font-weight: inherit;
        margin: 0.1rem;
    }
    
    input:focus, textarea:focus {
        border-color: #fff;
        border-style:solid;
        outline-color: #fff;
    }
    
    input[type="submit"] {
        background-color:#FFEAE9;
        border:solid 0.1rem #fff;
        color:#AA423A;
        display:block;
        margin:1rem auto;
        padding: 1.2rem;
        text-align: center;
        width: 10rem;
    }
    
    input[type="submit"]:hover {
        cursor:pointer;
        color:#D8776F; 
    }
    
    legend {
        padding-top: 2.4rem;
        font-weight: 700;
    }
        
    section > ol > li {
        margin:0.5rem 0;
    }

    textarea {
        width: 100%;
        height: 6.5rem;
        margin-top: 0.4rem;
        font-size: inherit;
        font-weight: inherit;
    }

    /* Klassen */
    
    .breakable {
        word-break: break-all;
    }

    .download {
        border:0;
        margin-left:0.5rem;
        vertical-align: middle;
        width:100%;
    }
    
    .fleisch {
        width: 1.3rem;
    }
    
    .fleisch, .veggie {
        margin: 0 0 0 0.5rem; 
    }

    .img-right {
        float:right;
        margin:0 0 2rem 1rem;
        max-width: 20rem;
    }
    
    .portion {
        width: 1.5rem;
        margin-right: 0.5rem;
    }
    
    .wort{
        text-align: right;
    }
    
    .veggie {
        width: 1.3rem;
    }

    /* IDs */
    
    #Alvin h2, #Linda h2, footer {
        clear:both;
    }

    #originales_Rezept > h2, #alternatives_Rezept > h2 {
        display:inline-block;
    }
}


/* ##################
 * KLEINER BILDSCHIRM
 * ##################
 */

@media screen and (max-width: 670px) {
    
    /* Elemente */
    
    body {
        position: relative;
    }
    
    footer {
        margin-top: 19rem;
        background-color:#D8776F;
        color:#fff;
        padding: 0.5rem;
    }
    
    footer a {
        color:#FFEAE9;
    }
    
    footer a:hover, footer h3 {
        color:#fff;
    }
    
    footer, nav {
        position: absolute;
        width:100%;
    }
    
    nav {
        bottom:-19rem;
    }

    
    nav > ul {
        flex-direction: column;
        margin: 0;
    }

    nav > ul > li > a {
        display:block;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    
    /* Klassen */
    
    .download {
        display:block;
        margin:0;
    }
    
    .fleisch {
        width: 2.25rem;
    }
    
    .higherNav {
        bottom:-11rem;
    }
    
    .img-right {
        display:none;
    }
    
    .veggie {
        width: 1.75rem;
    }
}

/* ######
 * MOBILE
 * ######
 */

@media screen and (max-width: 480px)  {
    
    /* Elemente */
    
    body {
        background:none;
        max-width:99%;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    h2, h3 {
        text-align: center;
    }
    
    h3 {
        font-size: 1.1rem;
    }
    
    section {
        padding:0.5rem;
    }
    
    /* Klassen */
    
    .download, .notMobile, header > img {
        display: none;
    }

    /* IDs */
    
    #originales_Rezept > h2, #alternatives_Rezept > h2 {
        display: block;
    }
}